.main {
  max-width: 1600px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.09);

  &__cards-field {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 30px;
  }
}

.watch-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../assets/icons/eye.svg");
}
